.music-player {
  margin-bottom: 1rem;
  max-width: 335px;
  margin-left: .5rem;
}

.music-track {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title-artist-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 9px;
}

.music-album {
  width: 75px;
  height: 75px;
  box-shadow: 3px 3px 17px rgba(47, 46, 47, 0.07);
}

.music-title {
  color: rgb(233, 233, 233);
  font-size: medium;
}

.music-artist {
  font-weight: 300;
  color: rgb(222, 220, 220);
  font-size: medium;
}

.music-controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.music-controls button {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0.3rem;
  font-size: 1rem;
  color: rgb(213, 211, 211);
  cursor: pointer;
  transition: color 0.2s;
}
