@font-face {
  font-family: "GeneralSans-Variable";
  src: url("./assets/GeneralSans-Variable.ttf") format("truetype");
}

body,
#root {
  font-family: "GeneralSans-Variable", sans-serif;
  min-height: 100vh;
  background-image: url(../orange.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-phone .subtitle {
  margin-top: -1.5rem;
}

.container-phone h1 {
  text-align: center;
}

.container-fluid {
  padding-left: 15rem;
  padding-right: 15rem;
}

.title-underline {
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(251, 218, 86, 0.93),
    rgba(255, 241, 186, 0.93)
  );
  width: 8%;
  border-radius: 4px;
  margin-top: -10px;
  margin-bottom: 1rem;
}

.sticky-top .title-underline {
  background: linear-gradient(
    90deg,
    rgba(251, 218, 86, 0.93),
    rgba(251, 230, 147, 0.93),
    rgba(251, 218, 86, 0.93)
  );
}

.hover-effect .info-box:hover {
  box-shadow: 0 4px 16px rgba(176, 35, 241, 0.224);
  transform: translateY(-2px) scale(1.02);
}

.app-content {
  flex: 1;
}

h1,
.subtitle {
  font-weight: 300;
}

.container-phone {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}
